@using System.Text.RegularExpressions
@model SmartRecipesMVC.Application.ViewModels.ImageVm.ListOfImagesVm

@{
    ViewData["Title"] = "Images";
}

<br/>
<h1>Images</h1>
<hr/>

<div class="btn-toolbar" role="toolbar">
    <form class="mr-1">
    <a type="button" class="btn btn-light" asp-controller="Recipes" asp-action="ViewRecipe" asp-route-recipeId="@Model.RecipeId"><i class="fas fa-arrow-alt-circle-left"></i> Back to recipe</a>
    </form>
    <form id="formUpload" enctype="multipart/form-data" asp-action="AddImage" asp-route-recipeId="@Model.RecipeId">
        <label type="button" class="btn btn-success" id="addLabel">
            <i class="fas fa-image"></i> Add image<input type="file" name="images" accept=".jpg,.jpeg,.png" hidden="" id="fileUpload"/>
        </label>
    </form>
</div>

<br/>
<form id="radioForm" asp-action="Index" asp-controller="Images" method="post">
    <input type="hidden" name="recipeId" value="@Model.RecipeId">
    <div>
        <h5>
            List of images
            <span class="d-inline-block" tabindex="0" data-toggle="tooltip" data-placement="right" title="You can select main image for recipe with radio button">
                <i class="fas fa-question-circle"></i>
            </span>
        </h5>
        @if (Model.Images.Count != 0)
        {
            <ul class="list-group">
                @{
                    int i = 0;
                }
                @foreach (var image in Model.Images)
                {
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    <div class="form-check">
                        @if (image.IsMainImage)
                        {
                            <input class="form-check-input me-1" type="radio" aria-label="..." name="imageRadio" id="imageRadio_@i" value="@i" checked >
                        }
                        else
                        {
                            <input class="form-check-input me-1" type="radio" aria-label="..." name="imageRadio" id="imageRadio_@i" value="@i">
                        }
                        @Html.DisplayName(image.Title)
                    </div>
                    <div class="">
                        <button type="button" class="btn btn-outline-primary openModalImage button-position-fix" data-toggle="modal" data-url="@image.ImagePath" data-target="#myModal">Show image <i class="fas fa-image"></i></button>
                        <a onclick="return confirmation()" class="btn btn-outline-danger button-position-fix" asp-action="Delete" asp-route-imageId="@image.Id" asp-route-recipeId="@image.RecipeId" asp-route-filePath="@image.ImagePath">Remove image <i class="fas fa-trash"></i></a>
                        @{ i++;}
                    </div>
                </li>
                }
            </ul>
        }
        else
        {
            <p>The recipe does not contain any images yet. Add some!</p>
        }
    </div>
</form>


<div class="modal fade" id="myModal" aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-body mb-0 p-0">
                <img id="imageInModal" src="" alt="Image corrupted" style="width: 100%">
            </div>
            <div class="modal-footer">
                <button class="btn btn-outline-dark ml-4 text-center" data-dismiss="modal" type="button">Close</button>
            </div>
        </div>
    </div>
</div>

<style>
    .button-position-fix {
        width: 150px;
        float: right;
        margin: 4px;
    }
</style>

@section Scripts
{
    <script type="text/javascript">
        function confirmation() {
            return confirm('Are you sure you want to delete that image?');
        }

        $(document).ready(function() {
            $('[data-toggle="tooltip"]').tooltip();
        });

        $(document).ready(function() {

            $("input[name='imageRadio']").change(function() {
                $(this).closest("form").submit();
            });
        });

        $(document).on("click",
            ".openModalImage",
            function() {
                var myImageUrl = $(this).data('url');
                myImageUrl = myImageUrl.substring(1);
                $('#imageInModal').attr("src", myImageUrl);
            });

        $('#modalToggle').modal('toggle');

        $('#fileUpload').on("change",
            function() {
                $("#formUpload").submit();
            });

    </script>
}