@model SmartRecipesMVC.Application.ViewModels.RecipeVm.ListRecipeForListVm

@{
    ViewData["Title"] = "My recipes";
}

<h1>MY RECIPES</h1>

<form asp-action="Index" asp-controller="Recipes" method="post">
    <div class="hstack">
        <div>
            <input type="submit" class="btn btn-success" value="Create new recipe" asp-action="AddRecipe"/>
        </div>
        <div>
            <input class="form-control me-auto" type="text" asp-for="SearchString" name="searchString" id="searchString" aria-atomicplaceholder="Search...">
        </div>
        <div>
            <input type="submit" class="btn btn-secondary" value="Search"/>
        </div>
        <div class="vr"></div>
        <div>
            <input type="submit" class="btn btn-outline-danger" value="Reset" onclick="location.reload();"/>
        </div>
    </div>
    <br/>

    <div class="card-deck">
        @foreach (var item in Model.Recipes)
        {
            <div class="col-sm-4 mb-5">
                <div class="card">
                    <a class="page-link" asp-area="" asp-controller="Recipes" asp-action="ViewRecipe" asp-route-recipeId="@item.Id">
                        @foreach (var image in item.Images)
                        {
                            @if (image.IsMainImage)
                            {
                                <img class="my-image-crop card-img-top" src="@Url.Content(image.ImagePath)" alt="Image not found"/>
                            }
                        }
                        <div class="card-body">
                            <h5 class="card-title">@Html.DisplayFor(modelItem => item.Name)</h5>
                            <p class="card-text">@Html.DisplayFor(modelItem => item.Description)</p>
                        </div>
                        <div class="card-footer">
                            <small class="text-muted">Created @Html.DisplayFor(modelItem => item.CreateDate)</small>
                        </div>
                    </a>
                </div>
            </div>
        }
    </div>
    <div>
        <nav aria-label="Navigation">
            <ul class="pagination justify-content-center">
                <li class="page-item">
                    <a class="page-link" href="javascript:PagerClick(@Model.CurrentPage-1)" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                        <span class="sr-only">Previous</span>
                    </a>
                </li>
                @for (int i = 1; i <= Math.Ceiling(Model.Count / (double)Model.PageSize); i++)
                {
                    @if (i != Model.CurrentPage)
                    {
                        <li class="page-item">
                            <a class="page-link" href="javascript:PagerClick(@i)">@i</a>
                        </li>
                    }
                    else
                    {
                        <li class="page-item active">
                            <a class="page-link" href="#">
                                @i<span class="sr-only">(current)</span>
                            </a>
                        </li>
                    }
                }
                <li class="page-item">
                    <a class="page-link" href="javascript:PagerClick(@Model.CurrentPage+1)" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                        <span class="sr-only">Next</span>
                    </a>
                </li>
            </ul>
            <input type="hidden" name="pageNumber" id="pageNumber"/>
            <input type="hidden" name="pageSize" id="pageSize" value="12"/>
        </nav>
    </div>
</form>

@section Scripts
{
    <script type="text/javascript">
        function PagerClick(index) {
            document.getElementById("pageNumber").value = index;
            document.forms[1].submit();
        }

        function ResetButton() {
            document.getElementById("<%= searchString.ClientID %>").value = "";
            document.forms[2].submit();
        }
    </script>
}