@model SmartRecipesMVC.Application.ViewModels.RecipeVm.RecipeDetailsVm

@{
    ViewData["Title"] = "View recipe";
}

<h1>View recipe</h1>
<hr/>

<div>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CreateDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CreateDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Difficulty)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Difficulty)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PreparationTime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PreparationTime)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Portions)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Portions)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Preparation)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Preparation)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Hints)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Hints)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.RecipeIngredients)
        </dt>
    </dl>
</div>
<div>
    <ul class="list-group">
        @foreach (var ingredient in Model.RecipeIngredients)
        {
            <li class="list-group-item">
                <input class="form-check-input me-1" type="checkbox" value="" aria-label="...">
                @Html.DisplayName(ingredient.Name)
            </li>
        }
    </ul>
</div>

<div>
    @Html.ActionLink("Edit", "EditRecipe", new { id = Model.Id }) |
    @Html.ActionLink("Delete", "MoveToTrash", "Recipes", new { id = Model.Id }, null) |
    <a asp-action="Index">Back to List</a>
</div>